
name: $(VersionNumberMajor).$(VersionNumberMinor)$(Rev:.rrrr)

resources:
- repo: self
  fetchDepth: 15

variables:
  VersionNumberMajor: '0'
  VersionNumberMinor: '0'
  BuildConfiguration: 'Release'
  BuildPlatform: 'Any CPU'
  BuildPlatformX64: 'x64'  

pool:
  name: DCT
  demands:
  - msbuild
  - visualstudio
  - vstest
  - IsBuildServer

steps:
- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core sdk 2.2.203'
  inputs:
    version: 2.2.203

- task: VisualStudioTestPlatformInstaller@1
  displayName: 'Visual Studio Test Platform Installer'
  inputs:
    versionSelector: latestStable

- task: NuGetToolInstaller@0
  displayName: 'Use NuGet < 4.8.0'
  inputs:
    versionSpec: '< 4.8.0'
    checkLatest: true

- task: DotNetCoreCLI@2
  enabled: true
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: '**\*.csproj'
    vstsFeed: 'dct-pkg'
#    includeNuGetOrg: false
#    noCache: true

- task: NuGetCommand@2
  displayName: 'NuGet restore'
  inputs:
    restoreSolution: '**/*.sln'
    vstsFeed: 'dct-pkg'
    noCache: true

- task: MSBuild@1
  displayName: 'Build solution **/*.sln'
  inputs:
    msbuildVersion: 16.0
    msbuildArchitecture: x64
    platform: '$(BuildPlatform)'
    configuration: '$(BuildConfiguration)'
    msbuildArguments: '-p:version=$(Build.BuildNumber) -p:FileVersion=$(Build.BuildNumber) -p:SkipInvalidConfigurations=true'
    clean: true
    maximumCpuCount: true
    restoreNugetPackages: true
    logProjectEvents: true
    createLogFile: true

- task: MSBuild@1
  displayName: 'Build and Package - Service Fabric Config'
  inputs:
    solution: '**\*.sfproj'
    msbuildArchitecture: x64
    platform: '$(BuildPlatformX64)'
    configuration: '$(BuildConfiguration)'
    msbuildArguments: '/t:Package /p:PackageLocation=$(build.artifactstagingdirectory)\ServiceFabric\ApplicationPackage  /p:version=$(Build.BuildNumber) /p:FileVersion=$(Build.BuildNumber) -p:SkipInvalidConfigurations=true'
    clean: false
    maximumCpuCount: true
    logProjectEvents: true
    createLogFile: true
        
- task: DeleteFiles@1
  displayName: 'Delete Symbols files from $(build.artifactstagingdirectory)\ServiceFabric\ApplicationPackage '
  inputs:
    SourceFolder: '$(build.artifactstagingdirectory)\ServiceFabric\ApplicationPackage'
    Contents: '**\*.pdb'

- task: CopyFiles@2
  displayName: 'Copy Nuget Interface Packages Files - Artifact NugetInterface Directory'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)\src'
    Contents: |
     **\*$(BuildConfiguration)*\*Interface.nupkg
     !**\packages\**
     !**\bin\x64\**
    TargetFolder: '$(build.artifactstagingdirectory)\Nuget\Interface'
    CleanTargetFolder: true
    flattenFolders: true

- task: CopyFiles@2
  displayName: 'Copy NugetPackages Files - Artifact NugetPackages Directory'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)\src'
    Contents: |
     **\*$(BuildConfiguration)*\*.nupkg
     !**\packages\**
     !**\bin\x64\**
    TargetFolder: '$(build.artifactstagingdirectory)\Nuget\Packages'
    CleanTargetFolder: true
    flattenFolders: true
        
- task: CopyFiles@2
  displayName: 'Copy Database Files - Artifact Databases Directory'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)'
    Contents: |
     **\*.Database\**\*.dacpac
    TargetFolder: '$(build.artifactstagingdirectory)\Databases'
    CleanTargetFolder: true
    flattenFolders: true
    

- task: CopyFiles@2
  displayName: 'Copy Files - $(build.artifactstagingdirectory)\ServiceFabric\PublishProfiles'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)\src'
    Contents: '**\PublishProfiles\Cloud.xml'
    TargetFolder: '$(build.artifactstagingdirectory)\ServiceFabric\PublishProfiles'
    CleanTargetFolder: true
    flattenFolders: true

- task: CopyFiles@2
  displayName: 'Copy Files - $(build.artifactstagingdirectory)\ServiceFabric\ApplicationParameters'
  inputs:
    SourceFolder: '$(build.sourcesdirectory)\src'
    Contents: '**\ApplicationParameters\*.xml'
    TargetFolder: '$(build.artifactstagingdirectory)\ServiceFabric\ApplicationParameters'
    CleanTargetFolder: true
    flattenFolders: true

- task: ServiceFabricUpdateManifests@2
  displayName: 'Update Service Fabric Manifests (Manifest versions)'
  enabled: true
  inputs:
    applicationPackagePath: '$(build.artifactstagingdirectory)\ServiceFabric\ApplicationPackage '
    versionBehavior: Replace
   
- task: DotNetCoreCLI@2
  displayName: 'Run xUnit Test - Core Framework'
  enabled: true
  inputs:
    command: test
    projects: 'src/*Tests/*.csproj'
    arguments: '--configuration $(buildConfiguration) --collect "Code coverage"'
    
- task: VSTest@2
  displayName: 'VsTest - testAssemblies'
  enabled: false
  inputs:
    testAssemblyVer2: |
     **\*tests.dll
     !**\*Database.Tests*\**
     !**\packages\**
     !**\obj\**
    configuration: '$(BuildConfiguration)'

- task: PublishSymbols@2
  displayName: 'Publish symbols path'
  enabled: false
  inputs:
    SearchPattern: '**\bin\**\*.pdb'
    PublishSymbols: false
  continueOnError: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: ServiceFabric'
  enabled: true
  inputs:
    ArtifactName: ServiceFabric
    PathtoPublish: '$(build.artifactstagingdirectory)\ServiceFabric'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: NugetPackages'
  enabled: true
  inputs:
    ArtifactName: NugetPackages
    PathtoPublish: '$(build.artifactstagingdirectory)\Nuget'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: Databases'
  enabled: true
  inputs:
    ArtifactName: Databases
    PathtoPublish: '$(build.artifactstagingdirectory)\Databases'
