<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->

  <Section Name="StatelessServiceConfiguration">
    <Parameter Name="ServiceBusConnectionString" Value="" />
    <Parameter Name="TopicName" Value="" />
    <Parameter Name="SubscriptionName" Value=""/>
    <Parameter Name="TopicMaxConcurrentCalls" Value=""/>
    <Parameter Name="TopicMaxCallbackTimeSpanMinutes" Value="" />
    <Parameter Name="JobStatusQueueName" Value="" />
    <Parameter Name="JobStatusMaxConcurrentCalls" Value="" />
    <Parameter Name="AuditQueueName" Value="" />
    <Parameter Name="AuditMaxConcurrentCalls" Value="" />
    <Parameter Name="LoggerConnectionString" Value="" />
  </Section>
  <Section Name="AzureStorageFileServiceConfiguration">
    <Parameter Name="ConnectionString" Value="" />
  </Section>
  <Section Name="DataTransportSettings">
    <Parameter Name="MaxMessageSize" Value="1073741824" MustOverride="true"/>
    <Parameter Name="SecurityCredentialsType" Value="None" />
    <Parameter Name="CertificateFindType" Value="" />
    <Parameter Name="CertificateFindValue" Value="" />
    <Parameter Name="CertificateRemoteThumbprints" Value="" />
    <Parameter Name="CertificateStoreLocation" Value="" />
    <Parameter Name="CertificateStoreName" Value="" />
    <Parameter Name="CertificateProtectionLevel" Value="" />
    <Parameter Name="CertificateRemoteCommonNames" Value="" />
  </Section>
  <Section Name="VersionSection">
    <Parameter Name="ServiceReleaseVersion" Value="" />
    <Parameter Name="ServiceReleaseDateTime" Value="" />
  </Section>
</Settings>
